/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  height: 200px;
  top: 70px;
  width: 260px;
    overflow-y:auto;
  right: 2%;
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  line-height: 20px;
  padding-left: 10px;
}

#directions-panel {
  position: absolute;
  height: 400px;
  top: 350px;
  width: 260px;
    overflow-y:auto;
  right: 2%;
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  line-height: 20px;
  padding-left: 10px;
}