{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>

    <!-- Font Icon -->
    <!-- <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css"> -->

    <!-- Main css -->
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
{% endblock %}
{% block body %}
    <div class="navbar container-fluid">
        <span>
            <a class="navbar-brand" href="/">Brand</a>
            <a href="/{{ user_id }}/profile">{{ user }}</a>
            <a href="/{{ user_id }}/destination-search">Search Destinations</a>
            <a href="/{{ user_id }}/map">Map</a>
        </span>
        <span>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <div class="search-params">
        <span>
            <form class="city">
              Select City:
                <select name="city">
                  <option value="lv">Las Vegas</option>
                  <option value="la">Los Angeles</option>
                  <option value="nyc">New York City</option>
                  <option value="sf">San Francisco</option>
                  <option value="seattle">Seattle</option>
                  <option value="dc">Washington, D.C.</option>
                </select>
            </form>
        </span>
        <span>
            <form action="/{{ user_id }}/destination-search-results" class="destination-search">
                Search Destinations: <input type="text" name="destination">
                <input type="submit" name="submit" class="form-submit" id="submit" value="Search"/>
            </form>
        </span>
        <!-- how do I get the dropdown and the search input to be on the same line? the span doesn't seem to be working. -->
    </div>
    
{% endblock %}

{% block scripts %}
    
{% endblock %}