{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>

    <!-- Font Icon -->
    <!-- <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css"> -->

    <!-- Main css -->
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
{% endblock %}
{% block body %}
    <div class="navbar container-fluid">
        <span>
            <a class="navbar-brand" href="/">Brand</a>
            <a href="/{{ user_id }}/profile">{{ user }}</a>
            <a href="/{{ user_id }}/destination-search">Search Destinations</a>
            <a href="/{{ user_id }}/map">Map</a>
        </span>
        <span>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <div class="search-params">
        <span>
            <form action="/{{ user_id }}/destination-search-results" class="destination-search">
              Select City:
                <select name="city">
                    {% for c in cities %}
                      <option value="{{ c.city_id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                Search Destinations: <input type="text" name="destination">
                <input type="submit" name="submit" class="form-submit" id="submit" value="Search"/>
            </form>
        </span>
    </div>
    
{% endblock %}

{% block scripts %}
    <script
  src="http://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
{% endblock %}