{% extends 'base.html' %}
{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Map</title>
    
    <link rel="stylesheet"  href="/static/css/map.css">
    
{% endblock %}
{% block body %}
    <div class="navbar container-fluid">
      <span>
        <a class="navbar-brand" href="/">Brand</a>
        <a href="/{{ user_id }}/profile">{{ user }}</a>
        <a href="/{{ user_id }}/destination-search">Search Destinations</a>
        <a href="/{{ user_id }}/map">Map</a>
      </span>
      <span>
        <a href="/logout">Logout</a>
      </span>
    </div>
    <div id="floating-panel">
      <b>Destination List: </b><br>
       
        {% for item in destinations %}
          <input type="checkbox" name="destination" value="{{ item.address }}"><label>{{ item.name }}</label><br>
        {% endfor %}
          
      <b>Mode of Travel: </b>
        <select id="mode">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
        </select><br>
      <input type="submit" name="submit" class="form-submit" id="submit" value="Route"/>
      
    </div>
    <div id="map"></div>
    &nbsp;
    
    
{% endblock %}

{% block scripts %}

    <script
  src="http://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
    </script>
    
    <script type="text/javascript" src="/static/js/map.js"></script>
    
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhzk4_w8avTZbR0Kch_14cBKnDgHXVOoQ&callback=initMap">
    </script>
    
{% endblock %}
