{% extends 'base.html' %}
{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Map</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    
    <link rel="stylesheet"  href="/static/css/map.css">
    
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">DayMap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/{{ user_id }}/profile">{{ user }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/{{ user_id }}/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
        <span class="navbar-text">
            <form action="/{{ user_id }}/destination-search-results" class="destination-search">
                <select name="city">
                    {% for c in all_cities %}
                      <option value="{{ c.city_id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="destination" placeholder="search destinations">
                <input type="submit" name="submit" class="form-submit" id="submit" value="Search"/>
            </form>
        </span>
      </div>
    </nav>
    <div id="floating-panel">
      <b>Destination List: </b><br>
        {% for city in cities %}
          {{ city.name }}:<br>
            {% for item in destinations %}
              {% if item.city_id == city.city_id %}
                <input type="checkbox" name="destination" value="{{ item.address }}" data-name="{{ item.name }}"><label>{{ item.name }}</label><br>
              {% endif %}
            {% endfor %}
        {% endfor %}
      <b>Mode of Travel: </b>
        <select id="mode">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
        </select><br>
      <input type="submit" name="submit" class="form-submit" id="route-submit" value="Route"/>
      
    </div>
    <div id="directions-panel" style="display: none;"></div>
    <div id="map"></div>
    &nbsp;  
    
{% endblock %}

{% block scripts %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>

    <script
      src="http://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/map.js"></script>
    
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhzk4_w8avTZbR0Kch_14cBKnDgHXVOoQ&callback=initMap">
    </script>
    
{% endblock %}
