{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <!-- Bootstrap CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">DayMap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/{{ user_id }}/profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/{{ user_id }}/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
        <span class="navbar-text">
            <form action="/{{ user_id }}/destination-search-results" class="destination-search">
                <select name="city">
                    {% for c in all_cities %}
                      <option value="{{ c.city_id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="destination" placeholder="search destinations">
                <input type="submit" name="submit" class="form-submit" id="submit" value="Search"/>
            </form>
        </span>
      </div>
    </nav>
    <div class="prof">
        <div class="user-info">
            <div>
                {% if user.img %}
                    <div class="prof-pic-container">
                        <img class="prof-pic" alt="Profile Picture" src="/static/images/{{ user.img }}">
                        <div class="hover-text-container" id="hover-text-container">
                            <span class="hover-text">Update profile picture</span>
                        </div>
                    </div>
                {% endif %}
                {% if not user.img %}
                    <div>
                        Add a profile picture:
                        <form action = "/{{ user_id }}/profile" method="POST" class="create-prof-pic" id="new-prof-pic" enctype="multipart/form-data">
                            <input type="file" id="prof-pic" name="prof-pic" required><br>
                            <input type="submit" name="submit" class="form-submit" id="submit"/>
                        </form>
                    </div>
                {% endif %}
                <div>
                    <h1 class="user-username">{{ username }}</h1>
                </div>
            </div>
        </div>
        <div class="user-destinations">
            <h2 class="dest-list">{{ username }}'s Destination List</h2>
                {% for city in user_cities %}
                    <div>
                        {{ city.name }}:<br>
                        <ul>
                            {% for d in user_destinations %}
                                {% if d.destination.city_id == city.city_id %}
                                    <li>{{ d.destination.name }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
        </div>
        <div class="update-prof-modal" style="display: none" id="prof-modal">
            <div class="modal-content" id="modal-content">
                <form action = "/{{ user_id }}/profile" method="POST" class="create-prof-pic" id="create-prof-pic" enctype="multipart/form-data">
                    <input type="file" id="prof-pic" name="prof-pic" required><br>
                    <input type="submit" name="submit" class="form-submit" id="submit"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script
      src="http://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/static/js/user_profile.js"></script>
{% endblock %}