{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <!-- Font Icon -->
    <!-- <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css"> -->

    <!-- Main css -->
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
{% endblock %}
{% block body %}
    <div class="navbar container-fluid">
        <span>
            <a class="navbar-brand" href="/">Brand</a>
            <a href="/{{ user_id }}/profile">{{ user }}</a>
            <a href="/{{ user_id }}/destination-search">Search Destinations</a>
            <a href="/{{ user_id }}/map">Map</a>
        </span>
        <span>
            <a href="/logout">Logout</a>
        </span>
    </div>
    <div class="user-info">
        <div>
            <img class="img-fluid" alt="Responsive image" src="https://timesofindia.indiatimes.com/thumb/msid-68523832,width-200,height-150,resizemode-4/68523832.jpg">
            <span>
                <h1 class="user-username">{{ user }}</h1>
            </span>
            
        </div>
        <div>
            
        </div>
    </div>
    <div class="user-destinations">
        <h2>Your Destination List</h2>
        <ul>
            {% for d in user_destinations %}
                <li>{{ d.destination.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script
  src="http://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
{% endblock %}